img{
    display: block;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 25px;
}
input{
    display: block;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
    color: blueviolet;
}
p
{

    text-align: center;
    font-style: oblique;
    color: blue;
    font: 1em sans-serif;
    
}
p{
    color: black;
}
/* block */
/* inline */
/* inline-block */ 